<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css">

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

    <!-- JAVASCRIPT -->
    <script src="/static/scrollreveal.min.js" defer></script>
    <script src="/static/workers.js" defer></script>
    <script src="/static/main.js" defer></script>

    <title>Projeto Chico</title>
</head>

<body>
    <!-- HEADER -->
    <header class="header">
        <nav class="nav container">
            <div class="nav-logo">
                <a href="#">
                    <img src="/static/imgs/logo.png" alt="logo do projeto chico">
                </a>
            </div>

            <div class="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#what" class="nav-link">O que é</a>
                    </li>
                    <li class="nav-item">
                        <a href="#who" class="nav-link">Quem somos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#images" class="nav-link">Imagens</a>
                    </li>
                    <li class="nav-item">
                        <a href="#documents" class="nav-link">Documentações</a>
                    </li>
                </ul>


                <div class="nav-close">
                    <i class='bx bx-x'></i>
                </div>
            </div>

            <div class="menu-opener">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="main">
        <!-- BANNER -->
        <section class="section section-banner" >
            <div id="banner">
                <div class="container banner-container">
                    <img src="/static/imgs/Chico_banner.png" alt="chico" id="chico">
                </div>
            </div>
        </section>

        <!-- O QUE É O CHICO E HISTÓRIA -->
        <section class="section section-light" id="what">
            <div class="how-where-area">
                <div class="container how-where-container">
                    <div class="how-it-item">
                        <div>
                            <h3>Chico no Startup Day</h3>
                            <p>Em 2025, Chico retorna com uma cara nova, mas ainda mantendo suas origens.
                                O Chico Sabido é um jogo
                                interativo criado em parceria entre a Faculdade SENAC Pernambuco, alunos
                                do curso de Análise e Desenvolvimento de Sistemas e o SEBRAE.<br><br>
                                Agora, Chico traz consigo um quiz educativo e o "Chiquito", seu
                                joystick exclusivo. A pedido do SEBRAE, o projeto amplia a experiência interativa,
                                permitindo que jogadores testem conhecimentos enquanto Chico reage
                                dinamicamente, oferecendo reações divertidas.</p>
                        </div>
                        <div class="imagem"><img src="/static/imgs/chicoNoSebrae.jpg" alt="Chico no Sebrae"></div>
                       
                    </div>
                    <div class="where-it-item">
                        <div class="historia-item">
                            <h3>Como o Chico surgiu?</h3>
                            <p>O caranguejo Chico, uma obra de metarreciclagem composta por resíduos eletrônicos, ganhou vida em novembro de 2024 para o evento Rec’n’play, como um símbolo que une tecnologia, sustentabilidade e cultura pernambucana.</p>
                                
                                <div class="btn-saiba-mais"><a href="https://i9i.app/chico"  target="_blank">Conheça mais sobre o Chico!</a></div>
                        </div>
                        <div class="imagem"> <img src= "https://projeto-chico.vercel.app/ezgif.com-animated-gif-maker.gif" alt="Chico no Sebrae"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SLIDER -->
        <section class="section" id="#">
            <div class="container slide-container">
                <h2>Como o Chico enxerga</h2>

                <!-- Slider main container -->
                <div class="swiper">
                <!-- Additional required wrapper -->
                    <div class="swiper-wrapper chico-vision">
                        
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>

                <button id="all-images">
                    <a href="/templates/images.html">
                        Ver todas as fotos
                    </a>
                </button>
            </div>
        </section>

        <!-- WORKER -->
        <section class="section section-light" id="who">
            <div class="container workers-container">
                <div class="worker-header">
                    <h2>Quem fez?</h2>

                    <select id="filter">
                        <option value="all">Todos</option>
                        <option value="Mentor">Mentores</option>
                        <option value="Gestão">Gestão</option>
                        <option value="Design">Design</option>
                        <option value="Maker">Maker</option>
                        <option value="Front-end">Front-end</option>
                        <option value="Back-end">Back-end</option>
                    </select>
                </div>

                <div class="workers-items">
                    <!-- <div class="worker-item">
                        <div class="worker-img"></div>

                        <h4>Itoshi Rin</h4>
                        <h5>Front-end</h5>

                        <div class="worker-social">
                            <div class="linkedin-icon">
                                <i class='bx bxl-linkedin-square'></i>
                            </div>

                            <div class="github-icon">
                                <i class='bx bxl-github' ></i>
                            </div>
                        </div>
                    </div> -->
                    
                </div>
            </div>
        </section>

        <!-- SLIDER -->
        <section class="section" id="images">
            <div class="container slide-container">
                <h2>Fotos da Execução do Projeto</h2>

                <div class="swiper">
                    <!-- Additional required wrapper -->
                        <div class="swiper-wrapper equipe-projeto">
                            <!-- Slides -->
                            <div class="swiper-slide"> <img src="/static/imgs/foto1.JPG" alt="Foto 1"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto2.JPG" alt="Foto 2"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto3.JPG" alt="Foto 3"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto4.JPG" alt="Foto 4"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto5.JPG" alt="Foto 5"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto6.jpg" alt="Foto 6"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto7.jpg" alt="Foto 7"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto8.jpg" alt="Foto 8"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto9.jpg" alt="Foto 9"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto10.jpg" alt="Foto 10"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto11.jpg" alt="Foto 11"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto12.jpg" alt="Foto 12"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto13.jpg" alt="Foto 13"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto14.jpg" alt="Foto 14"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto15.jpg" alt="Foto 15"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto16.jpg" alt="Foto 16"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto17.jpg" alt="Foto 17"></div>
                            <div class="swiper-slide"> <img src="/static/imgs/foto18.jpg" alt="Foto 18"></div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                        
                    </div>
            </div>
        </section>


        <!-- TECH CARDS -->

        <section class="section section-light" id="documents">
            <div class="techs-area">
                <div class="container techs-container">
                    <h2>Tecnologias</h2>

                    <div class="techs-items">
                        <div class="tech-item">
                            <h5>HTML 5</h5>
                            <i class='bx bxl-html5'></i>
                        </div>
                        <div class="tech-item">
                            <h5>CSS 3</h5>
                            <i class='bx bxl-css3' ></i>
                        </div>
                        <div class="tech-item">
                            <h5>Javascript</h5>
                            <i class='bx bxl-javascript' ></i>
                        </div>
                        <div class="tech-item">
                            <h5>Python</h5>
                            <i class='bx bxl-python' ></i>
                        </div>
                        <div class="tech-item">
                            <h5>Flask</h5>
                            <i class='bx bxl-flask' ></i>
                        </div>
                    </div><br><br>
                </div>
                <div class="tech-container">
                <div class="btn-saiba-mais"><a href="https://github.com/MatHenriqueAssis/Chico-Quiz-Flask-App"  target="_blank">Conheça o Repositório do Chico Sabido</a></div><br>
                <div class="btn-saiba-mais"><a href="https://github.com/ximenesl/Chico-Sabido-Site"  target="_blank">Conheça o Repositório do Site</a></div>
            </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="container footer-container">
            <div class="footer-content">
                <img src="/static/imgs/sebrae-logo.png" alt="">
                <img src="/static/imgs//logoStartupDay.png" alt="">
                <img src="/static/imgs/senac-logo.png" alt="">
            </div>
            <div><p class="copyright">Todos os direitos reservados, 2025.</p></div>
        </div>
        <div class="footer-img"><img src="/static/imgs/FooterMangue.png"></div>
    </footer>
</body>
</html>
